# deps
/node_modules

# next
/.next/
/out/
next-env.d.ts
*.tsbuildinfo

# misc
.DS_Store
*.pem
.env*.local
.vercel

# playwright / test artifacts
/test-results/
/playwright-report/
/blob-report/
/.playwright/
